* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.ralewayfont {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

header {
    height: 698px;
    background-image: url(../Assets/Hero-bg.png);

}

/* navbar styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1040px;
    margin: auto;
    padding: 50px 0;
}

.nav-title {
    font-size: 35px;
    color: #4e47ff;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
}

.nav-btn {
    color: white;
    font-weight: 400;
    background-color: #4e47ff;
    border-radius: 10px;
    padding: 12px 36px;
    border: none;
    transition: background-color 0.6s ease, transform 0.4s ease;
}

.nav-btn:hover {
    color: black;
    background-color: #f0c410;
    transform: scale(1.1);
}


/* banner section style  */
.banner {
    margin-top: 150px;
}

.banner-title {
    width: 900px;
    margin: auto;
    text-align: center;
    font-size: 65px;
}

.banner-btn {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    color: white;
    font-weight: 400;
    background-color: #4e47ff;
    border-radius: 10px;
    padding: 12px 36px;
    border: none;
    transition: background-color 0.6s ease, transform 0.4s ease;
}

.banner-btn:hover {
    color: black;
    background-color: #f0c410;
    transform: scale(1.1);
}

main {
    background-color: #f5f8ff;
}

/* action section style */
.action {
    padding: 115px;
    max-width: 1040px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.action-title {
    font-size: 35px;
    font-weight: 700;
}

.action-des {
    color: #252432;
    width: 515px;
    font-size: 18px;
    margin: 18px 0;
}

.action-btn {
    color: white;
    font-weight: 400;
    background-color: #4e47ff;
    border-radius: 10px;
    padding: 12px 36px;
    border: none;
    transition: background-color 0.6s ease, transform 0.4s ease;

}

.action-btn:hover {
    color: black;
    background-color: #f0c410;
    transform: scale(1.1);
}

.action-img {
    border-radius: 45px;
}

/* productive users action style  */
.productive-users {
    background-color: #e4e6ff;
    max-width: 1040px;
    margin: auto;
    padding: 50px 0;
    text-align: center;
    border-radius: 25px;

}

.productive-users h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.users {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.user-details h2 {
    color: #4e47ff;
    font-family: 'Inter', sans-serif;
    font-size: 50px;
}




/* Users’ Feedback Section style  */
.feedback {
    margin-bottom: 130px 0;
}

.feedback-title {
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 30px;
}

.feedback-users {
    display: flex;
    justify-content: space-between;
    max-width: 1040px;
    margin: auto;
    gap: 15px;

}

.feedback-user {
    background-color: #fafcff;
    border-radius: 12px;
    padding: 15px 20px;
}

.feedback-user h4 {
    font-size: 19px;
    margin: 8px 0;
}

.reviewer-details {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 25px;
}

.reviewer-details img {
    border-radius: 100%;
}

/* get ready section styles  */

.get-ready {
    background-color: white;
    max-width: 1040px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}

.get-ready h2 {
    font-size: 30px;
    margin-top: 130px;
    padding-top: 50px;
    padding-bottom: 10px;
}

.get-ready button {
    color: white;
    font-weight: 400;
    background-color: #4e47ff;
    border-radius: 10px;
    padding: 12px 36px;
    border: none;
    margin: 20px auto;
    transition: background-color 0.6s ease, transform 0.4s ease;
    display: block;

}

.get-ready button:hover {
    color: black;
    background-color: #f0c410;
    transform: scale(1.1);

}

.get-ready img {
    border-radius: 40px;
    margin-bottom: 50px;
}


/* Let’s Get in Touch section style  */
.get-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1040px;
    margin: auto;
    padding-top: 150px;
}

.get-info h1 {
    font-size: 90px;
  width: 500px;
}

.form {
    display: block;
}

.form-details {
    margin-bottom: 20px;
}

.form-details label {
    font-weight: 600;
}

.form-details input {
    border: none;
    width: 250px;
    padding: 15px;
    border-radius: 5px;
    margin-top: 8px;
}

.form-details textarea{
width: 250px;
height: 60px;
border: none;
border-radius: 5px;
padding: 15px;
margin-top: 8px;
}